<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="de">
<head>
    <meta charset="UTF-8">
    <title>MyPage</title>
    <script src="https://code.jquery.com/jquery-latest.min.js"></script>
</head>
<body>
<!-- Header Include -->
<div th:replace="fragments/header :: header "></div>

<!-- Main Content -->
<div class="container mt-5">
    

       
    <div th:each="entry : ${groupedByDate}">
        <div class="card mb-3">
            <div class="card-header">
                <span th:text="${entry.key}"></span>
            </div>
            <div class="card-body">
                <ul class="list-group list-group-horizontal p-0 m-0" style="list-style: none;">
    <li class="list-group-item d-flex justify-content-between align-items-center" th:each="item : ${entry.value}">
        <span th:text="${item}"></span>
    </li>
</ul>

            </div>
        </div>
        
</div>

<script>
$(function() {

});
</script>

<!-- <div th:replace="fragments/footer :: footer "></div> -->
</body>
</html>
